.DS_Store
.vagrant
**/*.retry
secrets/
inventory/production/
inventory/**/hosts.bak
inventory/vagrant_ansible_inventory
inventory/**/group_vars/fake_hosts.yml
inventory/**/host_vars/
logs
tmp
temp
.idea
.tox
.cache
**/*.bak
*.egg-info
*.pyc
*.pyo
contrib/**/.terraform
contrib/**/.tfstate
contrib/**/terraform.tfstate.d
contrib/**/*.tfstate.backup
contrib/**/*.plan
**/*.sw[pon]
vagrant/
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
