[defaults]
gathering = smart
host_key_checking = False
UserKnownHostsFile=/dev/null
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/cache
fact_caching_timeout = 7200
accelerate = False
host_key_checking = False
vault_password_file = secrets/vault_password
roles_path = roles:../roles
forks = 50

# callback_plugins configuration is required for the ARA callback
callback_plugins = $ara_location/plugins/callbacks

# action_plugins and library configuration is required for the ara_record and ara_read modules
action_plugins = $ara_location/plugins/actions
library = $ara_location/plugins/modules

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o UserKnownHostsFile=/dev/null
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
